<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madinaquranclasses.agorascreenshare">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <application>
        <service 
            android:name=".ScreenShareService"
            android:foregroundServiceType="mediaProjection"
            android:enabled="true"
            android:exported="false">
        </service>
    </application>
</manifest>